
.mainText{
    display: flex;
    justify-content: center;
    margin-top: 60px
}


.questionInfo, .questionBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.questionBody{
    margin-top: 15px;
}

.uploadQuestion{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top: 15px solid gainsboro;
    width: 50%;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px gainsboro;

}
.questionTitle{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    padding: 20px;
    border-left: 5px solid blue;
    box-shadow: 0px 0px 15px 0px gainsboro;
}




.formTitle, .formDescription{
    outline: none;

}

.formTitle{
    font-size: 25px;
}

textarea{
    width: 97%;
    height: 26px;
    border: none;
    border-bottom: 2px solid gainsboro;
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    resize: none;
    text-wrap: wrap;
    margin-bottom: 10px;
}

.questionInfo .formButtons{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.questionBody #output{
    display: flex;
    align-items: center;
    margin-top: 1px;
    height: 100px;
    border: 1px solid gainsboro;
}
    
#mathfield ::part(virtual-keyboard-toggle) {
    caret-color: transparent; /* Hace el cursor invisible */
    color: transparent; /* Si se desea también ocultar el color del texto */
}