*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif !important;

}

a{
    text-decoration: none;
    color: black;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    background-color: #ececec;
    z-index: 100;
}

.tituloImagen{
    display: flex;
    align-items: center !important;
    gap: 10px;
}

.abrirMenu, .cerrarMenu, .linkHidden{
    display: none;
}


.nav-list{
    display: flex;
    gap: 20px;
    
}


.login{
    display: flex;
    gap: 20px;
}

.login a{
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    
}

.signBox{
    background-color: black;
    color: white;
    transition: 0.2s;
}

.loginBox{
    transition: 0.2s;
}

.loginBox:hover{
    background-color: rgb(206, 206, 206); 
}

.signBox:hover{
    background-color: rgb(81, 81, 81);
}

.nav-list a:hover{
    border-bottom: 1px solid black ;
}



@media (width < 840px) {

    nav{
        justify-content: space-between;
    }
    .abrirMenu, .cerrarMenu, .linkHidden{
        display: flex;
        transition: all 0.1s;
    }

    .linkHidden{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 5px;
        transition: all 0.1s;
        background-color: #ececec;
        color: #0E0E0E;
        z-index: 100;

    
    }

    .link{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 5px;
        transition: all 0.1s;
        background-color: #ececec;
        color: #0E0E0E;
        

    }
    

    .abrirMenu, .cerrarMenu{
        font-size: 1.5rem;
        border:0;
        background-color: transparent;
        cursor: pointer;
    }

    .cerrarMenu{
        color: #ececec;
    }

    .navigation, .login{
        display: none;
        z-index: 100;

    }

    .link:hover{
        background-color: #ececec;
        color: #0E0E0E;
        
        
    }

    .navigation.visible{
        opacity: 1;
        visibility: visible;
        transition: all 0.2s;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap:1rem;
        position: absolute;
        background-color: #1c1c1c;
        padding: 2rem;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;

    }

    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: #0E0E0E;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav-list a{
        background-color: #0E0E0E;
        color:white;
    }

    
}