*{
    margin: 0px;/* para quitar el espacio que trae por defecto y usar todo el espacio */
    font-family: "Inter", sans-serif;/* para que quede el tipo de letra en todo el contenido del main */
}
/* ----------------------------------------------------------------------------------------------- */
main{
    flex-grow: 1;
}
/* --------------------------------------------------------------- */
body{
    height: 100vh;
    /* para que ocupe el 100% del alto de la pantalla visible */
}
#formLogin{
    width: 400px;
    height: 450px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow:0 0 10px 0;
    position: relative;
}
#linkARegistro{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2%;
    margin-right: 2%;
    border-bottom: 1px solid black;
    color: black;
}
#linkARegistro:hover{
    font-size: 20px;
}
#linkOlvido{
    text-align: center;
    margin-top: 7%;
    border-bottom: 1px solid black;
}
#linkOlvido a{
    text-decoration: none;
    color: black;
}
#linkOlvido a:hover{
    font-size: 20px;
}
#contenedorLogin{
    width: 100%;
}
.centradoLogin{
    text-align: center;
}
main #tituloLogin{
    font-family: "Inter", sans-serif;
    font-size: 40px;
}
main form #emailFormLogin, #passwordFormLogin, #botonFormLogin{
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

#botonFormLogin{
    background-color: black;
    color: white;
    height: 35px;
    border-radius: 10px;
    transition: all 0.25s;
    cursor: pointer;
    width: 100%;
}
#botonFormLogin:hover{
    background-color: rgb(70, 70, 70);
    font-size: 20px;
}
/* medida para mobiles */
@media (max-width:575px){
    #formLogin{
        width: 300px;
    }
}

@media (min-width:576px) and (max-width:768px){
    #formLogin{
        width: 650px;
    }
}